@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font: "Josefin Sans", sans-serif;
    --LightGray: hsl(0, 0%, 98%);
    --LightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue2: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --DarkGrayishBlue2: hsl(235, 19%, 35%);

    --BrightBlue: hsl(220, 98%, 61%);

    --2VeryDarkBlue: hsl(235, 21%, 11%);
    --2VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --2LightGrayishBlue: hsl(234, 39%, 85%);
    --2DarkGrayishBlue: hsl(234, 11%, 52%);
    --2VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --2VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
}

body.light-mode {
    background-color: var(--LightGray);
}

body.dark-mode {
    background-color: var(--2VeryDarkBlue);
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

body.light-mode main {
    background-color: var(--LightGray);
    color: var(--DarkGrayishBlue2);
}

body.dark-mode main {
    background-color: var(--2VeryDarkBlue);
    color: var(--LightGrayishBlue2);
}

header {
    color: var(--LightGray);
    width: 100vw;
    height: 14rem;
}

body.light-mode header {
    background: url("../images/bg-mobile-light.jpg") left top no-repeat;
    background-size: cover;
}

body.dark-mode header {
    background: url("../images/bg-mobile-dark.jpg") left top no-repeat;
    background-size: cover;
}

nav {
    width: 17rem;
    margin: auto;
    padding-top: 4.4rem;

    transition: width 0.2s, height .2s;
    transition-timing-function: ease;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    display: inline;
    margin-right: 4.3rem;

    transition: margin .2s;
    transition-timing-function: ease;
}

header img {
    display: none;
    width: 1.6rem;
}

body.light-mode header img#light-mode {
    background: url("../images/icon-moon.svg") center center no-repeat;
    background-size: cover;
    display: inline-block;
}

body.dark-mode header img#dark-mode {
    background: url("../images/icon-sun.svg") center center no-repeat;
    background-size: cover;
    display: inline-block;
}

header img:hover {
    cursor: pointer;
}

section {
    margin-top: -6.6rem;
    display: block;
    text-align: center;
}

form input {
    width: 17rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;

    transition: width 0.2s, height .2s;
    transition-timing-function: ease;
}

body.light-mode form input {
    background-color: hsl(0, 0%, 100%);
    color: var(--DarkGrayishBlue2);
}

body.dark-mode form input {
    background-color: var(--2VeryDarkDesaturatedBlue);
    color: var(--LightGray);
}

div.check_box {
    font-size: 1.1rem;
    width: 17rem;
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 0.5rem;

    transition: width 0.2s, height .2s;
    transition-timing-function: ease;
}

body.light-mode div.check_box {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 10px 19px hsla(237, 9%, 61%, 0.555);
}

body.dark-mode div.check_box {
    background-color: var(--2VeryDarkDesaturatedBlue);
    box-shadow: none;
}

ul.list {
    width: 107%;
    max-height: 55vh;
    list-style: none;
    padding: 0px;
    margin-top: -0.6rem;
    margin-left: -0.5rem;
    font-weight: 400;

    overflow: hidden;
    overflow-y: scroll;
    transition: width 0.2s, height .2s;
    transition-timing-function: ease;
}

.list::-webkit-scrollbar {
    display: none;
}

ul li {
    font-size: 1.1rem;
    list-style-position: inside;
    border-bottom: 1px solid var(--DarkGrayishBlue);
    padding: 0.3rem 0;
    text-align: left;
    text-indent: 1.5rem;
    /*user-select: none;*/
    cursor: grab;
    position: relative;
}

body.light-mode ul li:hover {
    box-shadow: inset 0px 0px 10px var(--LightGrayishBlue);
}

body.dark-mode ul li:hover {
    box-shadow: inset 0px 0px 6px hsla(234, 11%, 52%, 0.320);
}

ul #btn-check { 
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid var(--DarkGrayishBlue);

    position: absolute;
    right: 94%;
    bottom: 22%;
}

ul #btn-checked {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    /*margin-right: 0.6rem; */
    background-image: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    position: absolute;
    right: 94%;
    bottom: 22%;
}

body.light-mode ul #btn-check:hover {
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

body.dark-mode ul #btn-check:hover {
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
}

ul #btn-del {
    width: 1.3rem;
    height: 1.66rem;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 92%;
    bottom: 1%;
}

body.light-mode ul #btn-del:hover {
    background-color: hsla(233, 11%, 84%, 0.350);
}

body.dark-mode ul #btn-del:hover {
    background-color: hsla(233, 11%, 84%, 0.200);
}

div.menu{
    width: 17rem;
    height: 2.4rem;
    padding: 0.8rem;
    margin: 0rem -0.8rem -0.8rem -0.8rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: transparent;
    position: relative;

    transition: width 0.2s, height .2s;
    transition-timing-function: ease;
}

div.menu p {
    position: absolute;
    top: 25%;
    left: 3%;
}

div.menu button {
    cursor: pointer;
    position: absolute;
    top: 22%;
    right: 3%;
}

body.light-mode div.menu button {
    background-color: hsl(0, 0%, 100%);
    color: var(--DarkGrayishBlue2);
}

body.dark-mode div.menu button {
    background-color: var(--2VeryDarkDesaturatedBlue);
    color: var(--LightGrayishBlue);
}

div.menu-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin-bottom: 2rem;
    
    font-size: 1.1rem;
    width: 17rem;
    padding: 0.8rem;
    margin: 0.8rem;
    border-radius: 0.5rem;

    transition: width 0.2s, height .2s;
    transition-timing-function: ease;
}

body.light-mode div.menu-bottom {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 10px 19px hsla(237, 9%, 61%, 0.555);
}

body.dark-mode div.menu-bottom {
    background-color: var(--2VeryDarkDesaturatedBlue);
    box-shadow: none;
}

div button {
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

body.light-mode div.menu-bottom button {
    cursor: pointer;
    background-color: hsl(0, 0%, 100%);
    color: var(--DarkGrayishBlue2);
}

body.dark-mode div.menu-bottom button {
    cursor: pointer;
    background-color: var(--2VeryDarkDesaturatedBlue);
    color: var(--LightGrayishBlue);
}

body.light-mode div button:hover {
    color: var(--BrightBlue);
    font-weight: 500;
}

body.dark-mode div button:hover {
    color: var(--BrightBlue);
    font-weight: 500;
}

div.menu-bottom #iall, div.menu-bottom #iactive {
    margin-right: 1.2rem;
}

ul li.dragging {
    opacity: 0.5;
    background-color: var(--LightGrayishBlue);
    border: 2px dashed var(--BrightBlue);
    cursor: grabbing;
}
  

/*
footer { 
    margin-top: 48vh;
    font-size: 0.8rem; 
    text-align: center; 
    border: 2px dashed rgb(51, 83, 3);
}

footer a { 
    text-decoration: none;
    color: var(--Blue); 
}
*/