@charset "UTF-8";

@media screen and (min-width: 768px) {
    main {
        width: 380px;
        height: 560px;
    }

    article.imagem {
        width: 336px;
        height: 201px;
    }

    article.text p#destaque {
        margin-left: 12px;
    }

    article.text h1 {
        font-size: 1.5em;
        margin-left: 5px;
    }

    article.text p {
        font-size: 1em;
        margin-left: 5px;
    }
}