@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); */

@font-face {
    font-family: "Figtree";
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"), url("../assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype"), url("../assets/fonts/static/Figtree-Bold.ttf") format("truetype"), url("../assets/fonts/static/Figtree-SemiBold.ttf") format("truetype"), url("../assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype"), ;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1:hsl(0, 0%, 100%);
    --cor2: hsl(47, 88%, 63%);
    --cor3:hsl(228, 45%, 44%);
    --font: "Figtree", sans-serif;
}

body {
    background-color: var(--cor2);
    font-family: var(--font);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--cor1);
    background-size: cover;
    width: 366px;
    height: 535px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 7px 7px 0px black;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

article.imagem{
    width: 320px;
    height: 191px;
    display: block;
    margin: auto;
    margin-top: 11px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.300);
}

article.text p#destaque {
    background-color: var(--cor2);
    padding: 8px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 13px;
    width: 100px;
    border-radius: 5px;
    font-weight: 700;
}

article.text h1 {
    font-size: 1.3em;
    font-weight: 800;
    padding: 10px;
    margin-left: 3px;
}

article.text p {
    font-size: 0.9em;
    font-weight: 500;
    padding: 10px;
    line-height: 1.4em;
    margin-left: 3px;
}

article.text a {
    color: black;
    text-decoration: none;
}

article.text a:hover {
    color: var(--cor2);
}

article.perfil {
    margin-top: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

article.perfil img {
    width: 11%;
    margin: 0px 10px;
}

article.perfil > p {
    font-weight: 800;
    padding: 5px;
}

article.perfil a {
    color: black;
    text-decoration: none;
}

article.perfil a:hover {
    color: var(--cor3);
    text-decoration: underline;
}

div.attribution {
    font-size: 0.8em; 
    text-align: center;
}

div.attribution a {
    color: var(--cor3);
    text-decoration: none;
}

div.attribution a:hover {
    color: var(--cor1);
    text-decoration: underline;
}