header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.photo {
    display: flex;
    align-items: center;
}

.photo img {
    width: 3.3rem;
    border: 2px solid transparent;
    border-radius: 50%;
}

h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

h3 {
    font-weight: 500;
}

main {
    max-width: 90rem;
    margin-top: 6rem;
    margin-inline: auto;
    padding-inline: 3rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19.4375rem, 1fr));
    grid-template-rows: repeat(5, auto);
    gap: 2.5rem;
}


section {
    width: 100%;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 0.5rem;
}

.card-01,
.card-02,
.card-04 {
    color: var(--white);
}

.card-03,
.card-05 {
    background-color: var(--white);
    color: var(--bg-grey-500);
    box-shadow: 0 2px 5px rgb(0 0 0 / .1),
    0 9px 9px rgb(0 0 0 / .09),
    0 20px 12px rgb(0 0 0 / .10),
    0 36px 15px rgb(0 0 0 / .1);
}

.card-01 {
    background-color: var(--bg-purple);
}

.card-01 img {
    border: 2px solid var(--border-purple);
}

.card-02 {
    background-color: var(--bg-grey-500);
}

.card-02 img {
    border: 2px solid var(--grey-200);
}

.card-04 {
    background-color: var(--bg-dark-blue);
}

.card-04 img {
    border: 2px solid var(--bg-purple);
}

footer div {
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin-inline: center;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

footer a:hover {
    text-decoration: underline;
    color: var(--bg-purple);
}

@media (width >= 50em) {
    .card-01 {
        position: relative;
        z-index: 0;
    }

    .card-01 .quote {
        width: 8.5rem;
        height: 8.5rem;
        position: absolute;
        background: url(../images/bg-pattern-quotation.svg) no-repeat;
    }
}

@media (width < 50em ){
    main {
        margin-bottom: 6rem;
    }
}

@media (50em < width < 80em) {
    main.container {
        margin-inline: auto;
        max-width: 90rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .card-01 .quote {
        top: 0;
        right: 3rem;
        z-index: -1;
    }
    
    .card-01 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .card-02 {
        grid-column: 3;
        grid-row: 1;
    }

    .card-03 {
        grid-column: 1 ;
        grid-row: 2;
    }

    .card-04 {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .card-05 {
        grid-column: 1 / 4;
        grid-row: 3;
    }
}

@media (width >= 80em) {
    main.container {
        max-width: 90rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
    
    .card-01 .quote {
        top: 0;
        right: 5.2rem;
        z-index: -1;
    }

    .card-01 {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .card-02 {
        grid-column: 3;
        grid-row: 1;
    }

    .card-03 {
        grid-column: 1 ;
        grid-row: 2;
    }

    .card-04 {
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .card-05 {
        grid-column: 4;
        grid-row: 1 / 3;
    }
}
